services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile.spring
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/moneytracker_db
      - SPRING_DATASOURCE_USERNAME=me
      - SPRING_DATASOURCE_PASSWORD=236236
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JWT_SECRET=684C2F5961577166467076783637326D4E385A754E454A2B4D6F6E772F52376E6931587A3355612B306A55595341504D7774484F6B76782F56615164363047320A
      - JWT_EXPIRATION=86400
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  flask-service:
    build:
      context: .
      dockerfile: Dockerfile.flask
    ports:
      - "5000:5000"
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=localhost:9092
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  mysql-db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=236236
      - MYSQL_DATABASE=moneytracker_db
      - MYSQL_USER=me
      - MYSQL_PASSWORD=236236
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mysql-data: